* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-card-body {
  width: 100%;
}

.ant-carousel .slick-dots li.slick-active button {
  background: #111;
}

.ant-carousel .slick-dots li button {
  background: #111;
  opacity: 0.3;
}

@media screen and (max-width: 1150px) {
  .filter-bar {
    display: none;
  }
}
